/*
* File: styles.css
* EECS 581 - Group 21
* Project 1 - Minesweeper
* Authors: Evan Zhuo, Ian Foerwiser, Jack Morice, Evan Zhuo, Alex Carillo
* This file contains the CSS code to add design to the main html file.
*/

/* Design Styles */

h1 {
    font-family:cursive;
}

#version {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

/* Button Styles */

#mainPage button {
    width: 300px;
    height: 100px;
    font-size: 30px;
}

#optionPage button {
    width: 150px;
    height: 50px;
}

input {
    width: 50px;
    height: 40px;
}

#optionPage #selectButton {
    width: 75px;
    height: 50px;
}

#creditPage button {
    width: 150px;
    height: 50px;
}

#gamePage #backButton {
    width: 250px;
    height: 50px;
}

#gamePage #resetButton {
    width: 250px;
    height: 50px;
}

button { 
    width: 50px; 
    height: 50px;
}

/* Tile Styles */

.flagged {
    background-image: url('Images/flag.png');
}

.revealed-0 {
    background-color:rgb(197, 197, 197)
}

.revealed-1 {
    background-image: url('Images/1.png');
    background-color:rgb(197, 197, 197)
}

.revealed-2 {
    background-image: url('Images/2.png');
    background-color:rgb(197, 197, 197)

}

.revealed-3 {
    background-image: url('Images/3.png');
    background-color:rgb(197, 197, 197)
}

.revealed-4 {
    background-image: url('Images/4.png');
    background-color:rgb(197, 197, 197)
}

.revealed-5 {
    background-image: url('Images/5.png');
    background-color:rgb(197, 197, 197)
}

.revealed-6 {
    background-image: url('Images/6.png');
    background-color:rgb(197, 197, 197)
}

.revealed-7 {
    background-image: url('Images/7.png');
    background-color:rgb(197, 197, 197)
}

.revealed-8 {
    background-image: url('Images/8.png');
    background-color:rgb(197, 197, 197)
}

.bomb {
    background-image: url('Images/bomb.png');
    background-color:rgb(197, 197, 197)
}
